<%= form_with(model: company, local: true) do |form| %>
  <% if company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :company_name %>
    <%= form.text_field :company_name, id: :company_name %>
  </div>

  <div class="field">
    <%= form.label :domain %>
    <%= form.text_field :domain, id: :domain %>
  </div>

  <div class="field">
    <fieldset>
      <legend>Choose Your Plan</legend>
      <% if current_client.email == "rmrhomeservices@gmail.com" %>
        <%= form.radio_button 'plan', 'rmrhomeservices' %>
        <%= form.label :rmr_home_services, 'RMR Home Services Plan' %>
      <% else %>
        <%= form.radio_button 'plan', 'basic-annually' %>
        <%= form.label :basic_annually, 'Basic Annually' %>
        <%= form.radio_button 'plan', 'basic-monthly' %>
        <%= form.label :basic_monthly, 'Basic Monthly' %>
      <% end %>
    </fieldset>
  </div>

  <div class="actions">
    <%= form.submit class: "button" %>
  </div>
<% end %>
