<p id="notice"><%= notice %></p>

<p>
  <strong>Clients:</strong>
  <%= @subscription.clients %>
</p>

<p>
  <strong>Plans:</strong>
  <%= @subscription.plans %>
</p>

<%= link_to 'Edit', edit_subscription_path(@subscription) %> |
<%= link_to 'Back', subscriptions_path %>
