<footer class="responsive-blog-footer">
  <div class="row">
    <div class="medium-8 columns small-order-2 medium-order-1 about-container">
      <div class="row">
        <div class="hide-for-small-only medium-4 columns about-section">
          <%= image_tag('bearded-dude.png') %>
        </div>
        <div class="medium-8 columns about-section">
          <h4>Can we Use BBC?!</h4>
          <p>Let us help you. We can create a great site, set up email, and handle things you don't have the time to. Need a custom application? No probelm! We can do it all.</p>
        </div>
      </div>
    </div>
    <div class="small-12 medium-4 columns small-order-1 medium-order-2 mailing-container" id="contact">
      <h4 class="mailing-list">Contact Us</h4>
      <%= form_tag(contact_submission_path, method: "get") do %>
        <div class="row">
          <%= label_tag 'name', 'Full Name *'%>
          <%= text_field_tag 'name', nil, placeholder: "Full Name" %>
        </div>
        <div class="row">
          <%= label_tag 'email', 'Email Address *'%>
          <%= email_field_tag 'email', nil, placeholder: "Email Address" %>
        </div>
        <div class="row">
          <%= label_tag 'message', 'Message *'%>
          <%= text_area_tag 'message', nil, rows: 5, placeholder: "Message" %>
        </div>
        <div class="contact-panel-actions">
          <%= submit_tag "Submit", class: "button expanded subscribe-button"%>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row tag-search">
    <div class="columns">
      <ul class="menu simple tag-section">
        <li><%= link_to "About Us", root_path(anchor: "about") %></li>
        <li><%= link_to "Info", root_path(anchor: "info") %></li>
        <li><a href="">Request Consultation</a></li>
      </ul>
    </div>
  </div>
  <div class="row columns flex-container align-justify">
     <p> all rights reserved</p>
    <div class="up-arrow">
      <a href="#top"><i class="fa fa-chevron-circle-up" aria-hidden="true"></i></a>
    </div>
  </div>
</footer>
